:root {

  /* En uso */
  --color-normal : 253, 126, 20;
  --color-hover  : 230, 113, 18;
  --color-focus  : 218, 108, 17;

  --blue-normal  : 13, 110, 253;
  --blue-hover   : 11, 94, 215;
  --blue-focus   : 49, 132, 253;

  --red-normal   : 220, 53, 69;
  --red-hover    : 187, 45, 59;
  --red-focus    : 255, 83, 97;

  --yellow-normal: 255, 193, 7;
  --yellow-hover : 255, 202, 44;
  --yellow-focus : 217, 164, 6;

  --orange-normal: 253, 126, 20;
  --orange-hover : 230, 113, 18;
  --orange-focus : 218, 108, 17;

  --green-normal : 25, 135, 84;
  --green-hover  : 21, 115, 71;
  --green-focus  : 17, 153, 110;

  --indigo       : 102, 16, 242;
  --purple       : 111, 66, 193;
  --pink         : 214, 51, 132;
  --teal         : 32, 201, 151;
  --cyan         : 13, 202, 240;
  --white        : 255, 255, 255;
  --light        : 248, 249, 250;
  --black        : 0, 0, 0;
  --gray-01      : 248, 249, 250;
  --gray-02      : 233, 236, 239;
  --gray-03      : 222, 226, 230;
  --gray-04      : 206, 212, 218;
  --gray-05      : 173, 181, 189;
  --gray-06      : 108, 117, 125;
  --gray-07      : 73, 80, 87;
  --gray-08      : 52, 58, 64;
  --gray-09      : 33, 37, 41;

  --facebook     : 60, 90, 153;
  --twitter      : 29, 171, 221;
  --instagram    : 224, 57, 101;
}

* {
  margin     : 0px;
  padding    : 0px;
  font-family: 'Ubuntu', sans-serif, 'Caveat', cursive, 'Pacifico', cursive;
}

[data-decoration="no"] {
  text-decoration: none;
  color: black;
  cursor: default;
}

#bg-video {
  position  : fixed;
  right     : 0;
  bottom    : 0;
  min-width : 100%;
  min-height: 100%;
  z-index   : -100;
}

body {
  background-color     : white;
  display              : grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows   : repeat(3, auto);
  grid-template-areas  :
    "header  header"
    "content aside"
    "footer  footer";
}

/* Header & Navbar ----------------------------------------------------------------- */
header {
  grid-area        : header;
  display          : flex;
  align-items      : center;
  column-gap       : 10px;
  height           : 60px;
  padding          : 5px;
  color            : rgba(var(--white), 1);
  /* background-image : linear-gradient(rgba(var(--black), 0.8), rgba(var(--gray-07), 0.8)); */
  background-image : url('../img/background.png'), linear-gradient(rgba(var(--black), 0.8), rgba(var(--gray-07), 0.8));
  background-size  : auto, cover;
  background-repeat: repeat, no-repeat;
  border-bottom    : 5px solid rgba(var(--color-normal), 0.8);
}

.brand {
  display        : flex;
  align-items    : center;
  justify-content: flex-start;
  flex-wrap      : nowrap;
  flex-grow      : 1;
  column-gap     : 10px;
  font-family    : 'Pacifico', cursive;
  font-size      : 30px;
}

.navbar {
  display        : flex;
  align-items    : center;
  justify-content: flex-start;
  flex-wrap      : nowrap;
  flex-grow      : 7;
  column-gap     : 10px;
}

.menu-item {
  color: rgba(var(--gray-05), 1);
  text-decoration: none;
  font-size: 18px;
}

.menu-item:hover {
  color: rgba(var(--gray-02), 1);
}

.menu-item:focus {
  color: rgba(var(--color-normal), 1);
}

/* Content ------------------------------------------------------------------------- */
.content {
  grid-area : content;
  min-height: 500px;
}

/* aside --------------------------------------------------------------------------- */
aside {
  grid-area : aside;
  min-height: 500px;
  padding: 10px;
}

.aside-titulo {
  display: flex;
  color: white;
  background-color: rgba(var(--color-normal), 1);
  margin: 10px 5px 10px 5px;
  padding: 5px;
  justify-content: center;
}

/* Footer -------------------------------------------------------------------------- */
footer {
  grid-area            : footer;
  display              : grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows   : repeat(2, auto);
  gap                  : 10px;
  grid-template-areas  :
    "col1 col2 col3"
    "row  row  row";
  padding              : 20px;
  column-gap           : 10px;
  /* background-image     : linear-gradient(rgba(var(--gray-07), 0.8), rgba(var(--black), 0.8)); */
  background-image     : url('../img/background.png'), linear-gradient(rgba(var(--gray-07), 0.8), rgba(var(--black), 0.8));
  background-size      : auto, cover;
  background-repeat    : repeat, no-repeat;
  border-top           : 5px solid rgba(var(--color-normal), 0.8);
}

.col1 {
  justify-content: center;
  grid-area      : col1;
}

.col2 {
  justify-content: center;
  grid-area      : col2;
}

.col3 {
  justify-content: center;
  grid-area      : col3;
}

.row2 {
  display        : flex;
  justify-content: center;
  grid-area      : row;
  margin-top     : 10px;
  padding-top    : 15px;
  border-top     : 1px solid rgba(var(--color-normal), 0.8);
}

.footer-item {
  text-align: center;
  color     : rgba(var(--white), 1);
}

.texto-izquierda {
  text-align: left;
}

.anchor-list-inline {
  display        : flex;
  justify-content: center;
}

.anchor-list-inline > a {
  margin: 6px;
}

.anchor-list-inline > a {
  text-decoration: none;
  color          : rgba(var(--white), 1);
}

/* Form & Input -------------------------------------------------------------------- */
.form {
  width            : 50%;
  margin           : 20px auto 20px auto;
  padding          : 20px;
  background-color : rgba(var(--white), 0.8);
  background-image : url('../img/background.png');
  background-size  : auto;
  background-repeat: repeat;
  border           : 1px solid rgba(var(--gray-04), 1);
}

.group {
  margin: 0px 0px 10px 0px;
}

.group > .label {
  border: 1px solid rgba(var(--color-normal), 1);
}

.group > .input, .group > .textarea {
  margin: 0px;
  resize: none;
}

.group > .input:focus {
  border    : 1px solid rgba(var(--color-normal), 1);
  border-top: 0px;
}

.group > .bg-normal {
  background: rgba(var(--white), 1);
}

.group > .bg-alert {
  color     : #ffffff !important;
  background: #ff7575;
}

/* .group > .bg-alert::after {
  content: "♥";
} */

.label {
  display         : flex;
  width           : 95%;
  padding         : 0.375rem 0.75rem;
  font-size       : 1rem;
  font-weight     : 400;
  color           : rgba(var(--white), 1);
  white-space     : nowrap;
  background-color: rgba(var(--color-normal), 1);
  border          : 1px solid #ced4da;
}

.input, .textarea {
  display         : block;
  margin          : 10px 0px 10px 0px;
  width           : 95%;
  padding         : 0.375rem 0.75rem;
  font-size       : 1rem;
  font-weight     : 400;
  line-height     : 1.5;
  color           : rgba(var(--gray-09), 1);
  border          : 1px solid rgba(var(--gray-04), 1);
  transition      : border-color 0.15s ease-in-out;
}

.input:focus, .textarea:focus {
  color           : rgba(var(--gray-09), 1);
  border-color    : rgba(var(--color-normal), 1);
  outline         : 0;
}

.error {
  display         : none;
  white-space     : nowrap;
  border          : 1px solid #ced4da;
  width           : 95%;
  padding         : 0.375rem 0.75rem;
  color           : white;
  background-color: rgba(var(--red-normal), 1);
  font-size       : 14px;
}

.fa-facebook-square:hover {
  color: rgba(var(--facebook), 1);
}

.fa-twitter-square:hover {
  color: rgba(var(--twitter), 1);
}

.fa-instagram-square:hover {
  color: rgba(var(--instagram), 1);
}

/* Buttons ------------------------------------------------------------------------- */
.button {
  display            : block;
  margin             : 0px;
  font-weight        : 400;
  line-height        : 1.5;
  color              : rgba(var(--white), 1);
  background-color   : rgba(var(--color-normal), 1);
  text-align         : center;
  text-decoration    : none;
  vertical-align     : middle;
  cursor             : pointer;
  -webkit-user-select: none;
  -moz-user-select   : none;
  user-select        : none;
  border             : 1px solid rgba(var(--color-normal), 1);
  padding            : 0.375rem 0.75rem;
  font-size          : 1rem;
  box-shadow         : none;
  outline            : 0;
}

.button:hover {
  background-color: rgba(var(--color-hover), 1);
  border-color    : rgba(var(--color-hover), 1);
  transition      :
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.button:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--color-focus), 0.5);
  transition:
    box-shadow 0.15s ease-in-out;
}

.button-disabled {
  cursor          : default;
  color           : rgba(var(--white), 1);
  background-color: rgba(var(--gray-06), 1);
  border          : 1px solid rgba(var(--gray-06), 1);
}

.button-disabled::after {
  content: 'Todos los campos son obligatorios.'
}

.button-disabled:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--color-focus), 0);
}

.button-disabled:hover {
  background-color: rgba(var(--gray-06), 1);
  border          : 1px solid rgba(var(--gray-06), 1);
}

/* Tarjetas ------------------------------------------------------------------------ */
.tarjeta-content {
  display        : flex;
  flex-wrap      : wrap;
  flex-direction : row;
  justify-content: space-around;
  gap            : 10px;
  padding        : 20px 10px 20px 10px;
}

.tarjeta {
  display          : grid;
  padding          : 10px;
  background-color : rgba(var(--white), 0.8);
  background-image : url('../img/background.png');
  background-size  : auto;
  background-repeat: repeat;
  gap              : 10px;
  text-decoration  : none;
  color            : black;
  border: 1px solid rgba(var(--gray-04), 1);
}

.tarjeta-xl {
  max-width            : 860px;
  max-height           : 350px;
  grid-template-columns: 2fr 4fr;
  grid-template-rows   : 1fr 3fr;
  grid-template-areas  :
    "titulo imagen"
    "texto  imagen";
}

.tarjeta-md {
  max-width            : 400px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows   : 0.5fr 2fr;
  grid-template-areas  :
    "imagen titulo"
    "imagen texto ";
}

.tarjeta-xs {
  padding              : 0px;
  width                : 160px;
  height               : 230px;
  grid-template-columns: 1fr;
  grid-template-rows   : 1fr 2fr;
  grid-template-areas  :
    "imagen"
    "texto";
}

.tarjeta:hover {
  transition: box-shadow 0.15s ease-in-out;
  box-shadow: 0px 5px 7px 2px rgba(0, 0, 0, 0.3);
}

.tarjeta-imagen {
  display        : flex;
  justify-content: flex-end;
  grid-area      : imagen;
}

.tarjeta-imagen > img {
  width: 100%;
}

.tarjeta-titulo {
  display        : flex;
  align-items    : center;
  grid-area      : titulo;
  color          : rgba(var(--color-normal), 1);
}

.tarjeta-titulo-xl {
  justify-content: center;
}

.tarjeta-titulo-md {
  justify-content: flex-start;
}

.tarjeta-texto {
  grid-area: texto;
}

.tarjeta-texto-xs {
  padding: 0px 10px 0px 10px;
}

.tarjeta-puntuacion {
  grid-area: punto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 15px;
  transform: translateX(10px) translateY(15px);
  color: white;
  background-color: rgba(var(--color-normal), 1);
}

/* Receta -------------------------------------------------------------------------- */
.receta-content {
  display              : grid;
  grid-template-rows   : repeat(5, auto);
  gap                  : 10px;
  grid-template-areas  :
    "imagen"
    "video"
    "titulo"
    "ingredientes"
    "preparacion";
  padding              : 10px;
  column-gap           : 10px;

}

.container-receta-texto {
  margin: 0px;
  background-color : rgba(var(--white), 0.8);
  background-image : url('../img/background.png');
  padding: 20px;
  width: 100%;
}

.receta-titulo {
  display: flex;
  justify-content: center;
  padding: 20px;
  grid-area: titulo;
}

.receta-titulo > span {
  padding: 10px 60px 10px 60px;
  color: white;
  background-color: rgba(var(--color-normal), 1);
}

.receta-imagen-content {
  display: flex;
  justify-content: center;
  grid-area: imagen;
  overflow: hidden;
}

.receta-imagen-content > .receta-imagen {
  width: 90%;
  display: block;
  overflow: hidden;
}

.receta-imagen-content > .receta-imagen > img {
  width: 100%;
  bottom: 0px;
}

.receta-imagen-content > .receta-imagen > .receta-imagen-epigrafe {
  height          : 50px;
  color           : white;
  bottom          : 0px;
  padding         : 10px;
  transform       : translateY(-73px);
  background-image: linear-gradient(rgba(var(--gray-07), 0.7), rgba(var(--black), 0.7));
  font-family: Caveat;
  font-size: 21px;
}

.receta-video {
  display: flex;
  justify-content: center;
  grid-area: video;
}

.receta-ingredientes {
  grid-area: ingredientes;
}

.receta-ingredientes > ul {
  list-style: none;
}

.receta-preparacion {
  grid-area: preparacion;
}

/* Media Queries -------------------------------------------------------------------- */
@media screen and (max-width: 992px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows   : repeat(4, auto);
    grid-template-areas  :
      "header"
      "content"
      "aside"
      "footer";
  }

  .tarjeta-xl {
    max-width            : 700px;
    max-height           : none;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows   : repeat(3, auto);
    grid-template-areas  :
      "imagen"
      "titulo"
      "texto";
  }

}

@media screen and (max-width: 768px) {
  .tarjeta-md {
    width                : 250px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows   : repeat(3, auto);
    grid-template-areas  :
      "imagen"
      "titulo"
      "texto";
  }

  footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows   : repeat(3, auto);
    grid-template-areas  :
      "col1 col3"
      "col2 col2"
      "row  row";
  }
}

@media screen and (max-width: 576px) {
  header {
    display: block;
    height: 80px;
  }

  .brand, .navbar {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  footer {
    grid-template-columns: repeat(1, auto);
    grid-template-rows   : repeat(4, auto);
    grid-template-areas  :
      "col1"
      "col3"
      "col2"
      "row ";
  }
}
