<!DOCTYPE html>
<html lang="es" dir="ltr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport"  content="width=device-width, initial-scale=1">

    <title>El Recetario</title>

    <link rel="icon"       type="image/png" href="img/logo.png" sizes="16x16 32x32">
    <link rel="stylesheet" type="text/css"  href="https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap">
    <link rel="stylesheet" type="text/css"  href="css/all.min.css">
    <link rel="stylesheet" type="text/css"  href="css/style.css">

    <script type="text/javascript" src="https://unpkg.com/vue@3"></script>

  </head>

  <body>

    <header>
      <div class="brand">
        <img src="img/logo.png" height="40px" alt="">
        El Recetario
      </div>
      <nav class="navbar">
        <a class="menu-item" href="index.html">
          Inicio
        </a>
        <a class="menu-item" href="recetas.html">
          Recetas
        </a>
        <a class="menu-item" href="contacto.html">
          Contacto
        </a>
      </nav>
    </header>

    <section>
      <video autoplay muted loop id="bg-video">
        <source src="vid/pexels-cristian-rojas-7613411.mp4" type="video/mp4">
        <source src="vid/pexels-polina-kovaleva-5645037.mp4" type="video/mp4">
      </video>
    </section>

    <div id="app" class="content">
      <form class="form" action="" method="post">

        <div class="group">
          <label class="label" for="nombre">Nombre</label>
          <input class="input" type="text" v-model="nombre">
          <span><small>{{nombreError}}</small></span>
        </div>

        <div class="group">
          <label class="label" for="email">Email</label>
          <input class="input" type="text" v-model='email'>
          <span><small>{{emailError}}</small></span>
        </div>

        <div class="group">
          <label class="label" for="consulta">Consulta</label>
          <textarea class="textarea" v-model="consulta" rows="8" cols="80"></textarea>
          <span><small>{{consultaError}}</small></span>
        </div>

        <input :class="[validar() ? 'button' : 'button button-disabled']" type="submit" name="" value="ENVIAR">

      </form>
    </div>

    <aside>

      <div class="aside-titulo">
        <h2>Lo mas leído</h2>
      </div>
      <div class="aside-content">
        <div class="tarjeta-content tarjeta-content-xs">

          <div class="tarjeta-content-puntuacion">
            <div class="tarjeta-puntuacion">1</div>
            <a class="tarjeta tarjeta-xs" href="#" data-decoration="no">
              <div class="tarjeta-imagen">
                <img src="img/lo_mas_leido_01.png" alt="">
              </div>
              <div class="tarjeta-texto tarjeta-texto-xs">
                Renueva tu manera de preparar ensaldas con estas 30 deliciosas ideas
              </div>
            </a>
          </div>

          <div class="tarjeta-content-puntuacion">
            <div class="tarjeta-puntuacion">2</div>
            <a class="tarjeta tarjeta-xs" href="#" data-decoration="no">
              <div class="tarjeta-imagen">
                <img src="img/lo_mas_leido_02.png" alt="">
              </div>
              <div class="tarjeta-texto tarjeta-texto-xs">
                Enamórate de estas 23 recetas vegetarianas
              </div>
            </a>
          </div>

          <div class="tarjeta-content-puntuacion">
            <div class="tarjeta-puntuacion">3</div>
            <a class="tarjeta tarjeta-xs" href="#" data-decoration="no">
              <div class="tarjeta-imagen">
                <img src="img/lo_mas_leido_03.png" alt="">
              </div>
              <div class="tarjeta-texto tarjeta-texto-xs">
                Conoce nuestras mejores recetas e ideas para preparar los mejores jugos verdes
              </div>
            </a>
          </div>

          <div class="tarjeta-content-puntuacion">
            <div class="tarjeta-puntuacion">4</div>
            <a class="tarjeta tarjeta-xs" href="#" data-decoration="no">
              <div class="tarjeta-imagen">
                <img src="img/lo_mas_leido_04.png" alt="">
              </div>
              <div class="tarjeta-texto tarjeta-texto-xs">
                16 recetas de espinacas que te harán amarlas
              </div>
            </a>
          </div>

          <div class="tarjeta-content-puntuacion">
            <div class="tarjeta-puntuacion">5</div>
            <a class="tarjeta tarjeta-xs" href="#" data-decoration="no">
              <div class="tarjeta-imagen">
                <img src="img/lo_mas_leido_05.png" alt="">
              </div>
              <div class="tarjeta-texto tarjeta-texto-xs">
                24 recetas de comidas mexicana tradicionales y deliciosas
              </div>
            </a>
          </div>

        </div>
      </div>

    </aside>

    <footer>
      <div class="footer-item col1">
        <h3>Nosotros</h3>
        <br>
        <div class="texto-izquierda">
          <p>Teniente Ibañez 1621 Dpto 9</p>
          <p>3400 - Corrientes</p>
        </div>
      </div>
      <div class="footer-item col2">
        <h3>Redes Sociales</h3>
        <br>
        <div class="anchor-list-inline">
          <a href="https://www.instagram.com/" target="_blank">
            <i class="fa-brands fa-instagram-square fa-2x"></i>
          </a>
          <a href="https://twitter.com/" target="_blank">
            <i class="fa-brands fa-twitter-square fa-2x"></i>
          </a>
          <a href="https://www.facebook.com/" target="_blank">
            <i class="fa-brands fa-facebook-square fa-2x"></i>
          </a>
        </div>
      </div>
      <div class="footer-item col3">
        <h3>Publicidad</h3>
        <br>
        <div class="texto-izquierda">
          <p>Whatsapp: +54 (379) 492-1914</p>
          <p>publicidad@elrecetario.com</p>
          <p>presupuesto@elrecetario.com</p>
        </div>
      </div>
      <div class="footer-item row2">
        Marcelo Buzzi Riera&nbsp;<i class="fa-regular fa-copyright"></i>
      </div>
    </footer>

    <script type="text/javascript" src="js/functions.js"></script>

  </body>

</html>
